<li> 
  <div class="contact_container {{color}}" id="{{id}}">
    <div class="name_container">
      <div class="contact_name" id="contact_name_{{id}}">{{name}}</div>
      <div class="contact_edit">
        <img src="/assets/edit.png"></img>
      </div>
      <div class="contact_delete">
        <img src="/assets/no.png"></img>
      </div>
    </div>
    <div class="contact_date_diff">
      <div class="contact_update">
        <img src="/assets/update.png"></img>
      </div>
      {{date}}
    </div>
  </div>
</li>