<li> 
  <div class="contact_container_{{color}}" id="{{id}}">
    <div class="name_container">
      <div class="contact_name" id="contact_name_{{id}}">{{name}}</div>
      <div class="contact_edit" id="contact_edit_{{id}}">
        <img src="/assets/edit.png"></img>
      </div>
      <div class="contact_delete" id="contact_delete_{{id}}">
        <img src="/assets/no.png"></img>
      </div>
    </div>
    <div class="contact_date_diff">
      <div class="contact_update" id="contact_update_{{id}}">
        <img src="/assets/update.png"></img>
      </div>
      {{date}}
    </div>
  </div>
</li>